<div class="new-post-container">
    <div class="new-post">
        <div class="user">
            <div class="user-img">
                <img [src]="'http://localhost:8080/' + userData.profileImg" alt="">
                <div class="dot"></div>
            </div>
            <h1>{{userData.name}}</h1>
        </div>
        <form class="new-post-form" (ngSubmit)="onSubmit()">
            <div>
                <!-- <label for="title">Title:</label> -->
                <input type="text" id="title" name="title" [(ngModel)]="title" placeholder="Post title..." required>
            </div>
            <div>
                <!-- <label for="description">Description:</label> -->
                <textarea id="description" name="description" [(ngModel)]="description"
                    placeholder="What's in your mind, {{userData.name}}..." required></textarea>
            </div>
            <div>
                <!-- <label for="category">Category:</label> -->
                <input type="text" id="category" name="category" [(ngModel)]="category" placeholder="Category..."
                    required>
            </div>
            <div>
                <!-- <label for="image">Image:</label> -->
                <input class="custom-file-input" type="file" id="image" name="image" (change)="onFileSelected($event)"
                    required>
                <label for="image" class="custom-file-label">
                    <div>
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M38 21V40C38 41.1046 37.1046 42 36 42H8C6.89543 42 6 41.1046 6 40V12C6 10.8954 6.89543 10 8 10H26.3636"
                                stroke="#000" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 31.0308L18 23L21 26L24.5 20.5L32 31.0308H12Z" fill="none" stroke="#000"
                                stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M34 10H42" stroke="#000" stroke-width="3" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M37.9941 5.79544V13.7954" stroke="#000" stroke-width="3" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </label>
            </div>
            <button type="submit">Create Post</button>
        </form>
    </div>
</div>