<!-- <div *ngFor="let post of posts">
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>
    <h3>{{post.category}}</h3>
    <img [src]="'http://localhost:8080/' + post.imageUrl" alt="Post Image">
    <h3>{{post.creator.name}}</h3>
    <h3>{{post.creator.role}}</h3>
    <img [src]="'http://localhost:8080/' + post.creator.profileImg" alt="">
    <h4>{{post.date}}</h4>
</div> -->

<div *ngFor="let post of posts" class="gallery-container">
    <div class="profile-container">
        <img [src]="'http://localhost:8080/' + post.creator.profileImg" alt="">
        <div>
            <h1>{{post.creator.name}}</h1>
            <h2>{{post.formattedDate}}</h2>
        </div>
    </div>
    <div class="post-container">
        <img [src]="'http://localhost:8080/' + post.imageUrl" alt="Post Image">
        <div class="post-title">
            <h3>{{post.title}}</h3>
            <h4>{{post.category}}</h4>
        </div>
    </div>
    <div class="btn-container"></div>
</div>