<!-- <div *ngFor="let post of posts">
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>
    <h3>{{post.category}}</h3>
    <img [src]="'http://localhost:8080/' + post.imageUrl" alt="Post Image">
    <h3>{{post.creator.name}}</h3>
    <h3>{{post.creator.role}}</h3>
    <img [src]="'http://localhost:8080/' + post.creator.profileImg" alt="">
    <h4>{{post.date}}</h4>
</div> -->
<div class="gallery-container">
    <div *ngFor="let post of posts" class="gallery-posts">
        <div class="profile-container">
            <img [src]="'http://localhost:8080/' + post.creator.profileImg" alt="">
            <div>
                <h1>{{post.creator.name}}</h1>
                <h2>{{post.formattedDate}}</h2>
            </div>
        </div>
        <div class="post-container">
            <img [src]="'http://localhost:8080/' + post.imageUrl" alt="Post Image">
            <div class="post-title">
                <h3>{{post.title}}</h3>
                <h4>{{post.category}}</h4>
            </div>
        </div>
        <div class="interactions-container">
            <div>
                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.3 5.71002C18.841 5.24601 18.2943 4.87797 17.6917 4.62731C17.0891 4.37666 16.4426 4.2484 15.79 4.25002C15.1373 4.2484 14.4909 4.37666 13.8883 4.62731C13.2857 4.87797 12.739 5.24601 12.28 5.71002L12 6.00002L11.72 5.72001C10.7917 4.79182 9.53273 4.27037 8.22 4.27037C6.90726 4.27037 5.64829 4.79182 4.72 5.72001C3.80386 6.65466 3.29071 7.91125 3.29071 9.22002C3.29071 10.5288 3.80386 11.7854 4.72 12.72L11.49 19.51C11.6306 19.6505 11.8212 19.7294 12.02 19.7294C12.2187 19.7294 12.4094 19.6505 12.55 19.51L19.32 12.72C20.2365 11.7823 20.7479 10.5221 20.7442 9.21092C20.7405 7.89973 20.2218 6.64248 19.3 5.71002Z"
                        fill="#ffffff" />
                </svg>
                <h4>45 likes</h4>
            </div>
            <div>
                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.968 18.769C15.495 18.107 19 14.434 19 9.938a8.49 8.49 0 0 0-.216-1.912C20.718 9.178 22 11.188 22 13.475a6.1 6.1 0 0 1-1.113 3.506c.06.949.396 1.781 1.01 2.497a.43.43 0 0 1-.36.71c-1.367-.111-2.485-.426-3.354-.945A7.434 7.434 0 0 1 15 19.95a7.36 7.36 0 0 1-4.032-1.181z"
                        fill="#ffffff" />
                    <path
                        d="M7.625 16.657c.6.142 1.228.218 1.875.218 4.142 0 7.5-3.106 7.5-6.938C17 6.107 13.642 3 9.5 3 5.358 3 2 6.106 2 9.938c0 1.946.866 3.705 2.262 4.965a4.406 4.406 0 0 1-1.045 2.29.46.46 0 0 0 .386.76c1.7-.138 3.041-.57 4.022-1.296z"
                        fill="#ffffff" />
                </svg>
                <h4>2 comments</h4>
            </div>
        </div>
        <div class="comments-container">
            <div class="comment-img">
                <img [src]="'http://localhost:8080/' + post.creator.profileImg" alt="">
                <div class="dot"></div>
            </div>
            <input type="text" placeholder="Write a comment...">
            <div class="send-btn">
                <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 4L3 11L10 14M20 4L13 21L10 14M20 4L10 14" stroke="#ffffff" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</div>