.post-update-container {
    width: calc(100vw - 400px);
    margin-top: 150px;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .update-post-form {
        width: calc(100% - 20px);
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        margin-top: 30px;


        .inputs {
            width: 100%;
            display: flex;

            .text-inputs {
                width: 60%;
            }

            .image-input {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .custom-file-input {
                    display: none;
                }

                .image-preview {
                    background-color: transparent;
                    width: 80%;
                    height: 100%;
                    cursor: pointer;
                    background-color: #F8FAFB;
                    padding: 15px 10px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    margin-left: 20px;

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }


                    img {
                        width: 80%;
                        height: 80%;
                        object-fit: cover;
                        border-radius: 10px;
                        opacity: 0.8;
                        transition: 0.2s ease-in-out all;
                    }
                }
            }
        }

        input,
        textarea,
        select {
            all: unset;
            width: 100%;
            margin-bottom: 15px;
            background-color: #F8FAFB;
            padding: 15px 10px;
            border-radius: 10px;
            border: 1px solid #0000000e;

            &::placeholder {
                font-size: 20px;
                transition: 0.1s ease-in-out all;
            }

            &:focus {
                &::placeholder {
                    color: #000000b5;
                }
            }
        }
    }

    .btns-container {
        display: flex;
        margin-top: 20px;

        button {
            all: unset;
            cursor: pointer;
            background-color: #3a86ff;
            padding: 10px 20px;
            border-radius: 25px;
            transition: 0.2s ease-in-out all;
            color: #ffffff;
            display: flex;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-right: 20px;

            h1 {
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 400;
            }

            svg {
                margin-right: 10px;
                width: 20px;
                height: 20px;

                path {
                    fill: #ffffff;
                }
            }

            &:hover {
                background-color: #2b60b7;
            }

            &:last-child {
                color: #EE4444;
                background-color: #F8FAFB;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                svg {
                    path {
                        fill: #EE4444;
                    }
                }
            }
        }


    }


}