.post-update-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .post-update {
        width: 70%;
        height: 70%;
        background-color: #1A1A1A;
        overflow: hidden;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        position: relative;


        .update-post-form {
            display: flex;
            flex-direction: column;

            input,
            textarea {
                all: unset;
                height: 40px;
                width: calc(100% - 20px);
                font-size: 18px;
                background-color: #282828;
                margin-bottom: 20px;
                border-radius: 5px;
                padding-left: 20px;

                &::placeholder {
                    font-size: 18px;
                    transition: 0.1s ease-in-out all;
                }

                &:focus {
                    &::placeholder {
                        color: #ffffffb5;
                    }
                }
            }

            textarea {
                height: 80px;
                padding: 10px 0;
                padding-left: 20px;
            }

            .custom-file-input {
                display: none;
            }

            .custom-file-label {
                cursor: pointer;

                div {
                    width: fit-content;
                    padding: 10px;
                    border: 2px solid #282828;
                    border-radius: 5px;

                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }

            button[type="submit"] {
                display: block;
                width: 200px;
                margin-top: 30px;
                padding: 12px 24px;
                background-color: transparent;
                color: #ffffff;
                font-size: 14px;
                line-height: 18px;
                border-radius: 50px;
                border: 1px solid rgba(255, 255, 255, 0.6);
                transition: all 250ms ease-in-out;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-color: rgba(255, 255, 255, 1);
            }

            button[type="submit"]:focus {
                outline: 0;
            }

        }
    }
}