.navigation-bar {
    height: 100vh;
    width: 300px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-right: 1.5px #0000000e solid;

    .top-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;

        .nav-logo {
            margin: 40px 0;

            h1 {
                margin-left: 25px;
                font-size: 26px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }

        .nav-menu-item {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            div {
                height: 20px;
                width: 4px;
                border-radius: 2px;
                background-color: transparent;
                margin-right: 20px;
                transition: 0.2s ease-in-out all;
            }

            svg {
                margin-right: 15px;


                path {
                    fill: #00000063;
                    transition: 0.2s ease-in-out all;
                }
            }

            h2 {
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
            }

            &:hover {
                div {
                    background-color: #000000;
                }

                svg {
                    path {
                        fill: #000000;
                    }
                }
            }
        }

        .active-menu-item {
            div {
                background-color: #000000;
            }

            svg {
                path {
                    fill: #000000;
                }
            }
        }

    }

    .bottom-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        justify-content: flex-end;

        .nav-menu-item {
            display: flex;
            align-items: center;
            margin-bottom: 25px;


            div {
                height: 20px;
                width: 4px;
                border-radius: 2px;
                background-color: transparent;
                margin-right: 20px;
                transition: 0.2s ease-in-out all;
            }

            svg {
                margin-right: 15px;


                path {
                    fill: #00000063;
                    transition: 0.2s ease-in-out all;
                }
            }

            h2 {
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
            }

            &:hover {
                div {
                    background-color: #000000;
                }

                svg {
                    path {
                        fill: #000000;
                    }
                }
            }
        }

        .active-menu-item {
            div {
                background-color: #000000;
            }

            svg {
                path {
                    fill: #000000;
                }
            }
        }

        .nav-menu-item-logout {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            svg {
                margin-right: 15px;
                margin-left: 25px;


                path {
                    fill: #EE4444;
                    transition: 0.2s ease-in-out all;
                }
            }

            h2 {
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                color: #EE4444;
                transition: 0.2s ease-in-out all;
            }

            &:hover {
                svg {
                    path {
                        fill: #000000;
                    }
                }

                h2 {
                    color: #000000;
                }
            }
        }
    }
}

.welcoming-container {
    width: calc(100vw - 300px);
    height: 120px;
    position: fixed;
    top: 0;
    left: 300px;
    padding: 0 45px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px #0000000e solid;
    transition: 0.3s ease-in-out all;


    .welcoming {
        height: 100%;
        display: flex;
        align-items: center;


        h1 {
            font-size: 14px;
            font-weight: 300;
            text-transform: capitalize;
        }

        .user-welcoming {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;

                img {
                    width: 22px;
                    height: auto;
                    margin-left: 10px;
                }
            }
        }

        .search-bar {
            margin-left: 100px;
            position: relative;

            .search__container {
                position: relative;

                input {
                    border: none;
                    outline: none;
                    height: 35px;
                    width: 300px;
                    background-color: transparent;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                    border-radius: 20px;
                    padding-left: 40px;
                    color: #000000;
                    font-size: 14px;
                    font-weight: 500;
                    transition: 0.2s ease-in-out all;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 500;
                        transition: 0.2s ease-in-out all;
                    }
                }

                .search {
                    position: absolute;
                    left: 8px;
                    top: 5px;
                    transition: 0.2s ease-in-out all;

                    path {
                        fill: #00000074;
                    }
                }

                input:focus {
                    padding-left: 20px;

                    &+.search {
                        transform: scaleX(0);
                        transform-origin: right;
                        opacity: 0;
                    }

                    &::placeholder {
                        color: #000000;
                    }
                }
            }

            .search-results {
                position: absolute;
                top: 38px;
                left: 20px;
                padding: 0 20px 20px 0;
                font-size: 14px;
                font-weight: 300;
                text-transform: capitalize;
                width: 280px;

                li {
                    padding: 8px 0;
                    border-bottom: 1px solid #00000026;
                }
            }
        }

        .date {
            margin-left: 100px;
        }

        .profile {
            display: flex;
            align-items: center;
            margin-left: 150px;

            h1 {
                margin-left: 20px;
            }

            .profile-img {
                width: 50px;
                height: 50px;
                position: relative;

                img {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    border-radius: 35px;
                    margin-right: 20px;
                }

                .dot {
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;
                    background-color: #15CB49;
                    border: 3px solid rgb(255, 255, 255);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}

.welcoming-container.shrunk {
    height: 80px;
}

.user-container {
    width: 400px;
    height: 100vh;
    padding: 40px 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-left: 1.5px #0000000e solid;
    background-color: #fff;

    .user-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px #0000000e solid;

        .infos {
            display: flex;
            align-items: center;

            h1 {
                margin-left: 10px;
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
            }

            .user-img {
                width: 50px;
                height: 50px;
                position: relative;

                img {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    border-radius: 35px;
                    margin-right: 20px;
                }

                .dot {
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;
                    background-color: #15CB49;
                    border: 3px solid rgb(255, 255, 255);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    .contact-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        h1 {
            font-size: 1.2rem;
        }
    }

    .contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .search__container {
            position: relative;
            width: 100%;

            input {
                border: none;
                outline: none;
                height: 40px;
                width: 100%;
                background-color: transparent;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                border-radius: 20px;
                padding-left: 40px;
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                transition: 0.2s ease-in-out all;

                &::placeholder {
                    font-size: 14px;
                    font-weight: 500;
                    transition: 0.2s ease-in-out all;
                    color: #00000036;
                }
            }

            .search {
                position: absolute;
                left: 10px;
                top: 7px;
                transition: 0.2s ease-in-out all;

                path {
                    fill: #00000074;
                }
            }

            input:focus {
                padding-left: 20px;

                &+.search {
                    transform: scaleX(0);
                    transform-origin: right;
                    opacity: 0;
                }

                &::placeholder {
                    color: #000000;
                }
            }
        }

        .contacts-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .contact {
                width: 100%;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px #0000000e solid;

                .contact-infos {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 23px;
                        object-fit: cover;
                        margin-right: 10px;
                    }

                    h1 {
                        font-size: 15px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }

                .disponibilty {
                    h2 {
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: capitalize;
                        color: #00000078;
                    }
                }
            }
        }

        .contact-btn {
            margin-top: 25px;

            button {
                all: unset;
                cursor: pointer;
                padding: 14px 30px;
                border-radius: 30px;
                background-color: #000000;
                border: 1px solid #000000;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                transition: 0.2s ease-in-out all;

                svg {
                    margin-right: 10px;
                    transition: 0.2s ease-in-out all;

                    path {
                        fill: #fff;
                    }
                }

                &:hover {
                    background-color: #fff;
                    color: #000000;

                    svg {
                        path {
                            fill: #000000;
                        }
                    }
                }
            }
        }
    }
}

.user-container-none {
    display: none;
}