body {
    width: 100vw;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000000;
    font-family: 'Barlow Condensed', sans-serif;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: #fff;
}