body {
    width: 100vw;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
    background-color: #F8FAFB;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: #000000;
}