.register-container {
    width: calc(100vw - 300px);
    height: calc(100vh - 150px);
    background-color: transparent;
    margin-left: 300px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .register-form {
        display: flex;
        flex-direction: column;
        width: 40%;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        input,
        select {
            all: unset;
            padding: 10px 20px;
            border-radius: 25px;
            border: 1px solid #00000024;
            transition: 0.2s ease-in-out all;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;

            &::placeholder {
                font-size: 14px;
                font-weight: 400;
                transition: 0.2s ease-in-out all;
                font-family: 'Barlow Condensed', sans-serif;
                color: #0000005b;
            }

            &:hover {
                background-color: #eeeeee;
            }

            &:focus {
                background-color: #eeeeee;
            }
        }

        .file-input {
            display: none;
        }

        .file-label {
            width: fit-content;
            padding: 10px;
            font-size: 12px;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            display: flex;
            align-items: center;

            svg {
                width: 40px;
                height: 40px;
                margin-left: 10px;
            }
        }

        label {
            cursor: pointer;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 400;

            span {
                color: #EE4444;
            }
        }

        button {
            all: unset;
            cursor: pointer;
            background-color: #000000;
            border-radius: 25px;
            transition: 0.2s ease-in-out all;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 10px 0;
            border: 1px solid transparent;
            font-size: 12px;
            margin-bottom: 15px;


            &:hover {
                border: 1px solid #00000097;
                background-color: #fff;
                color: #000000;
            }
        }
    }

    h1 {
        font-size: 12px;
        font-weight: 400;

        a {
            color: #3a86ff;
        }
    }
}